<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
</head>
<body>
<!--Changes background colour-->
<body style="background-color:rgb(36, 131, 138);"></body>
<div>
 
 <!--Center Centers everything within range-->
<center> <form method="POST" action="/">  
<br>
<br>
<h1>Ascii-Art-Web</h1>
<!--Creates Radio Buttons-->
<input type="radio" id="html" name="banner" value="shadow" checked="checked">
 <b><label for="html">Shadow</label></b> 
<br>
 <input type="radio" id="html" name="banner" value="standard">
 <b><label for="html">Standard</label><br></b> 
 
 <input type="radio" id="html" name="banner" value="thinkertoy">
 <b><label for="html">Thinkertoy</label></b> 
     
<br>
<br>
<textarea rows="4" cols="50" name="input">Your Text Here!</textarea>
<br>

   <input type="submit" value="submit" /><br><br></center>
  </form>

</div>
</body>
</html>
